<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">YOUR COMPLAIN</h1>
    <p class="secret-text">Don't keep your complain, please share it!</p>

    <form action="/complain" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="issue" placeholder="REGISTER YOUR ISSUE...">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>